text
firstboot --disable
keyboard --vckeymap=us --xlayouts='us'
lang en_US.UTF-8
network --bootproto=dhcp --device=link --ipv6=auto --activate
network --hostname=oraclelinux9.localdomain
selinux --disabled
rootpw testtest
user --name=vagrant --password=vagrant
timezone Europe/Paris --utc
bootloader --location=mbr --append=" net.ifnames=0 biosdevname=0 crashkernel=no"
# Clear the Master Boot Record
zerombr
# Remove partitions
clearpart --all --initlabel
# Automatically create partitions using LVM
autopart --type=lvm
# Reboot after successful installation
reboot

%addon com_redhat_kdump --disable
%end

%packages --ignoremissing --excludedocs
@^server-product-environment
# vagrant needs this to copy initial files via scp
openssh-clients
sudo
wget
nfs-utils
net-tools
tar
bzip2
deltarpm
rsync
dnf-utils
redhat-lsb-core
-dracut-config-rescue
-fprintd-pam
-intltool
-*firmware
-microcode_ctl
-plymouth
-plymouth-core-libs
-fedora-release-notes
-mcelog
-smartmontools
-usbutils
-microcode_ctl
%end

%post
# sudo
echo 'Defaults:vagrant !requiretty' > /etc/sudoers.d/vagrant
echo '%vagrant ALL=(ALL) NOPASSWD: ALL' >> /etc/sudoers.d/vagrant
chmod 440 /etc/sudoers.d/vagrant

# Configure systemd-networkd to use DHCP on all interfaces
cat > /etc/systemd/network/99-dhcp-all.network << 'EOT'
[Match]
Name=*

[Network]
DHCP=yes
LLMNR=no
EOT

# Enable hyper-v daemons only if using hyper-v virtualization
if [ $(virt-what) == "hyperv" ]; then
dnf -y install hyperv-daemons cifs-utils
systemctl enable hypervvssd
systemctl enable hypervkvpd
fi
%end
