### Packer ###
# Cache objects
packer_cache/
**/packer_cache/*

# Crash log
crash.log

# For built boxes
*.box

### Packer Patch ###
# ignore temporary output files
**/output-*/*

### Non-Packer Files ###
#Ignore Agent Installation Files in HTTP Directory
/http/Agent_Installations/*

#Ignore Provisioner Scripts Relating to Agent Installations
/Windows/Files/scripts/illumio_install.ps1
/Windows/Files/Scripts/mcafee_install.ps1
/Windows/Files/Scripts/qualys_install.ps1
/Windows/Files/Scripts/sec_hardening_setup.ps1
/Windows/Files/Scripts/sccm_setup.ps1
