### Packer ###
# Cache objects
packer_cache/
**/packer_cache/*
builds/*
logs/*

# Crash log
crash.log

# For built boxes
*.box

### Packer Patch ###
# ignore temporary output files
**/output-*/*

### Non-Packer Files ###